body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  background: url(img/background-img.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body .brand {
  color: #393636;
  font-size: 160%;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4%;
}
body header nav {
  width: 100%;
  height: 200%;
  background-color: #FFFFFF;
  display: block;
  padding: 1.2%;
}

.container {
  width: 90%;
  height: 70%;
  max-width: 1440px;
  min-width: 420px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@media only screen and (max-width: 940px) {
  .container {
    width: 100%;
  }
}

.seller-month {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 30%;
  background-color: #FFFFFF;
}

.seller-text {
  text-align: center;
  align-items: center;
}
.seller-text .seller-main-text {
  font-weight: bold;
  margin-bottom: 6%;
}

.action-buttons {
  text-align: center;
  margin-top: 15%;
  margin-bottom: 5%;
}
.action-buttons .subsidiaries {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}
.action-buttons .subsidiaries a {
  background-color: #1B96D1;
  color: white;
  padding: 10px 30px;
  border-radius: 20px;
  text-decoration: none;
  margin-left: 5px;
}
.action-buttons .new-sale {
  display: block;
  float: right;
}
.action-buttons .new-sale a {
  background-color: #015E9A;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}

.categories {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
  width: 98%;
}

.sells {
  background-color: #FFFFFF;
  height: 10%;
  align-items: center;
  align-self: center;
}

.report-btn {
  float: right;
  margin-bottom: 5%;
}
.report-btn a {
  background-color: #015E9A;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

.sellers {
  height: 100%;
}

.reports-title {
  display: flex;
  text-align: center;
  justify-content: center;
}
.reports-title .rep {
  background-color: #015E9A;
  color: white;
  padding: 10px 60px;
  margin-top: 2%;
  margin-bottom: 4%;
  border-radius: 20px;
}

.back-btn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 4%;
}
@media only screen and (max-width: 940px) {
  .back-btn {
    text-align: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 420px) {
  .back-btn {
    text-align: center;
    justify-content: center;
  }
}
.back-btn .back {
  background-color: #015E9A;
  color: white;
  padding: 10px 25px;
  text-decoration: none;
}

.reports {
  display: flex;
  justify-content: space-around;
  max-width: 80%;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}
@media only screen and (max-width: 940px) {
  .reports {
    max-width: 90%;
  }
}
@media only screen and (max-width: 420px) {
  .reports {
    flex-direction: column;
  }
}
.reports p.reportbox-title {
  font-size: 140%;
  margin-bottom: 4%;
  text-shadow: 0 0 2px #015E9A;
}
.reports .month-report {
  background-color: white;
  height: 270px;
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (max-width: 940px) {
  .reports .month-report {
    width: 90%;
  }
}
@media only screen and (max-width: 420px) {
  .reports .month-report {
    width: 80%;
    margin-top: 5%;
  }
}
.reports .month-report p.report-info {
  margin-top: 5%;
}
.reports .sub-report {
  background-color: white;
  height: 270px;
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 2%;
}
@media only screen and (max-width: 940px) {
  .reports .sub-report {
    width: 90%;
  }
}
@media only screen and (max-width: 420px) {
  .reports .sub-report {
    width: 80%;
    margin-top: 5%;
  }
}
@media only screen and (max-width: 700px) {
  .reports .sub-report {
    flex-direction: column;
  }
}
@media only screen and (max-width: 420px) {
  .reports .sub-report {
    margin-left: 0;
  }
}
.reports .sub-report p.report-info {
  margin-top: 5%;
}
.reports .mix-report {
  background-color: white;
  height: 270px;
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 2%;
}
@media only screen and (max-width: 940px) {
  .reports .mix-report {
    width: 90%;
  }
}
@media only screen and (max-width: 420px) {
  .reports .mix-report {
    width: 80%;
    margin-top: 5%;
  }
}
@media only screen and (max-width: 700px) {
  .reports .mix-report {
    flex-direction: column;
  }
}
@media only screen and (max-width: 420px) {
  .reports .mix-report {
    margin-left: 0;
  }
}
.reports .mix-report p.report-info {
  margin-top: 5%;
}

.modal {
  display: none;
}

.inactive-modal {
  background-color: rgba(144, 194, 253, 0.6);
  height: 120vh;
  width: 100%;
  position: absolute;
}

.contain-modal-select {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.modal-select {
  background-color: #FFFFFF;
  width: 40%;
  height: 50%;
}
.modal-select .modal-select-text {
  display: inline-block;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-left: 20px;
}
.modal-select .selectors {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 30px;
  align-content: space-between;
}
.modal-select .closeModal {
  float: right;
  margin-top: 4%;
  margin-right: 4%;
}
.modal-select .closeModal a {
  text-decoration: none;
}
.modal-select select {
  width: 90%;
  height: 25px;
}
.modal-select input {
  float: right;
  margin-right: 10%;
  margin-top: 15%;
  padding: px;
}

.activeModal {
  display: block;
}
.activeModal .inactive-modal {
  background-color: rgba(144, 194, 253, 0.6);
  height: 120vh;
  width: 100%;
  position: absolute;
}
.activeModal .contain-modal-select {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.activeModal .modal-select {
  background-color: #FFFFFF;
  width: 40%;
  height: 50%;
}
.activeModal .modal-select .modal-select-text {
  display: inline-block;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-left: 20px;
}
.activeModal .modal-select .selectors {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 30px;
  align-content: space-between;
}
.activeModal .modal-select .closeModal {
  float: right;
  margin-top: 4%;
  margin-right: 4%;
}
.activeModal .modal-select .closeModal a {
  text-decoration: none;
}
.activeModal .modal-select select {
  width: 90%;
  height: 25px;
}
.activeModal .modal-select input {
  float: right;
  margin-right: 10%;
  margin-top: 15%;
  padding: px;
}

/*# sourceMappingURL=styles.css.map */
